
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color {
  color: var(--first-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .home {
    height: 100vh;
  }
  .home__data {
    align-self: flex;
  }
  .home__img {
    width: 400px;
    bottom: 15%;
  }
}
@media screen and (min-width: 1024px) {
  .home__img {
    right: 8%;
    top: 15%
  }
}
